[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==7.2.1"
cssutils = "==2.6.0"
semantic-version = "==2.10.0"

[requires]
python_version = "3.8"

[packages]
numpy = "==1.21.0"
jinja2 = "==3.0.1"
matplotlib = "==3.4.2"
pytz = "==2020.1"
pandas = "==1.4.4"
