[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Jinja2 = "==3.0.1"
matplotlib = "==3.4.2"
numpy = "==1.21.0"
semantic-version = "==2.8.5"
pytz = "==2020.1"
pandas = "==1.4.1"

[dev-packages]

[requires]
python_version = "3.8"
