[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==6.2.4"
cssutils = "==2.3.0"
semantic-version = "==2.8.5"

[requires]
python_version = "3.8"

[packages]
numpy = "==1.21.0"
jinja2 = "==3.0.1"
matplotlib = "==3.4.2"
pytz = "==2020.1"
pandas = "==1.5.0"
